* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

  #container {
    /* margin-top: 20px; */
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid red;
    border-radius: 5px 5px 5px 5px ;
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to bottom right, blue, #c10c85,blue); 
    position: relative;
  }
  input{
    border-radius: 5px 5px 5px 5px;
  }
  input:hover{
    box-shadow: #0079bf;
    border: 2px solid red;
    animation: normal 2s ease-in-out;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid #e5e5e5; */
  }
  ul li {
    padding: 10px;
    /* padding-left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
  }
  ul li:hover {
    background: #f3f3f3;
  }
  #list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  #list label {
    position: relative;
    cursor: pointer;
  }
  
  #list label:before {
    content:'';
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  #list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  #list input:checked + label:before {
    background: #0079bf;
  } 
  #list input:checked + label {
    text-decoration: line-through;
  }
  .delete {
    height: 28px;
      padding: 5px 0px;
      border-radius: 3px;
  }
  .delete:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
  h1 {
    text-align: center;
  }
  .add-task {
    margin-top: 10px;
    width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      border: 1.5px solid wheat;
      margin-bottom: 3px;
  }

  #total-tasks {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: gray;
}

  #date {
    margin-left: 10px;
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    /* align-items: center; Align items vertically in the center */
}
#category{
  width: 180px;
  height: 25px;
  border-radius: 5px;
}
#category:hover{
  border: 2px solid black;
}
#taskDate{
  width: 180px;
  height: 25px;
  border-radius: 5px;
}
#taskDate:hover{
  border: 2px solid black;
}
#buttons{
  margin: 50px;
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 20px;
  border-radius: 10px;
}
#buttons button{
  margin-right: 30px;
}
#buttons button:hover{
  border: 2px solid black;
  border-radius: 5px;
}